* {
    font-family: Arial;
}
body {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

header {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #87CEFA;
}
#department {
    display: flex;
    align-items: center;
}
#department div {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    text-shadow: 0px 1px 0px #1e1e1e;
}
#menu {
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-right: 2px;
}
nav .active a, nav a:hover {
    background-color: #fff;
    color: #87CEFA;
    border-radius: 2px;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.jpeg');
    background-position: center;
    background-size: cover;
    min-height: 600px;
}
#banner_headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}
#banner_headline h1 {
    font-weight: normal;
    font-size: 60px;
    color: #fff;
    text-shadow: 0px 1px 0px #1e1e1e;
    margin: 20px 0px 20px 0px;
}
#banner_headline h2 {
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    text-shadow: 0px 1px 0px #1e1e1e;
    margin-bottom: 40px;
}
#banner_headline div a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
}
#banner_headline div a:hover {
    background-color: #fff;
    color: #87CEFA;
}

#information {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#information .options {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    flex: 1;
    margin-right: 10px;
}
#information .icon {
    width: 72px;
    background-color: #fff;
}
#information .desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
#information .desc div {
    text-align: center;
    font-size: 15px;
}
#information .desc h2 {
    font-size: 20px;
}

.column {
    flex-direction: column;
}

#shop {
    display: flex;
    justify-content: center;
    background-color: #87CEFA;
}
#title_sale h2 {
    font-size: 20px;
    color: #fff;
    padding: 5px;
}

#shop_area {
    display: flex;
    justify-content: center;
}
.sale {
    border: 3px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 220px;
    background-color: #fff;
}
.sale img {
    width: 220px;
    height: 220px;
    object-fit: contain;
}
.sale .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #ccc;
}
.details h3 {
    font-size: 17px;
    margin: 15px;
}
.details div {
    font-weight: bold;
    margin-bottom: 15px;
}
.details a {
    text-decoration: none;
    color: #fff;
    background-color: #87CEFA;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid #87CEFA;
}
.details a:hover {
    color: #87CEFA;
    background-color: #fff;
    border: 2px solid #87CEFA;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #87CEFA;
}
.footer_copy {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #fff;
    color: #fff;
}
.footer_copy div {
    font-size: 15px;
}
.footer_copy a {
    text-decoration: none;
    color: #fff;
    padding: 2px;
}
.footer_copy a:hover {
    color: #87CEFA;
    background-color: #fff;
    border-radius: 3px;
}

@media (max-width:970px) {
    
    #department div {
        margin-left: 20px;
    }

    #banner_headline {
        margin-left: 20px
    }

    #information .container {
        flex-direction: column;
    }
    .options .desc {
        max-width: 410px;
    }
    #information .options {
        margin-right: 0;
        margin-top: 10px;
    }

    #title_sale {
        display: flex;
        justify-content: center;
    }
    
    #shop_area {
        flex-direction: column;
        align-items: center;
    }
}